@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Forzar texto negro en todos los inputs */
input, textarea, select {
  color: #000000 !important;
  background-color: #ffffff !important;
}

input::placeholder, textarea::placeholder {
  color: #6b7280 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
